<!DOCTYPE HTML>
<html>
<head>
	<title>{{title}} - {{blog-name}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style type="text/css">
		body{background-color:#f4f4f4;}
		header,footer,aside{text-align:center}
		footer,footer>a{color:#999;font-size:12px;}
		header>h1{font-size:1em}
		article{max-width:36em; line-height:170%; margin:auto; background-color:white; padding:1.5em; border-radius:7px;}
	</style>
</head>
<body>
	<header>
	<h1>{{title}}</h1>
	</header>
	<article>
<ul>
{{#article-list}}
<li><a href="../article/{{urlid}}.html">{{title}}</a> ({{date}})</li>
{{/article-list}}
</ul>
	</article>
	<footer>
		<a href="https://github.com/huzhengquan/kiln">kiln</a>驱动
	</footer>
</body>
</html>
